#table_id,tr,th,td {
    border: 1px solid bisque;
    /*内容居中*/
    text-align: center;
    background-color: #0efffd;

}

#table_id {
    /*合并边框*/
    border-collapse: collapse;
    width: 400px;
    height: 400px;
}

#table_id_1 {
    border-collapse: collapse;
    width: 500px;
}

#table_id_1 td,#table_id_1 th {
    border: 1px solid aqua;
    padding: 5px;
}

#table_id_1 th {
    text-align: right;
    background-color: aqua;
    color: white;
}

#table_id_1 tr.tr_class td {

    color:black;
    background-color: aquamarine;

}